/* footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque;
    padding: 0.5rem;
    height: 10vw;
} */