/* header {
    display: flex;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    height: 10vw;    
}

.header-container {
    display: flex;    
    justify-content: space-between;
    padding:0.5em ;
    width: 800px;
}

.header-title {
    color: #4F46E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: space-between;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    width: 36px;
    height: 36px;
    border-radius: 20px;
} */